body, input {
  font-family: Arial, sans-serif;
}

input {
  font-size: 16px;
  outline: none;
  border: none;
  padding: 8px 15px;
}

input[type=text], input[type=password], input[type=number], input[type=email], input[type=phone] {
  border-bottom: 2px solid #AAA;
}

body, form {
  margin: 0px;
}

.flex-container {
  display: flex;
}

.flex-h-align-center, .flex-align-center {
  align-items: center;
}

.flex-v-align-center, .flex-align-center {
  justify-content: center;
}

.flex-space-evenly {
  justify-content: space-evenly;
}

.card {
  border-radius: 15px;
}

.body-wrapper {
  position: relative;
  width: 1000px;
  left: 50%;
  margin: auto -500px;
}

.login-form-outter-wrapper {
  width: 500px;
  height: 300px;
  margin: auto;
}

.textfield-bottom-border {
  width: 0%;
  height: 2px;
  transition: 0.5s ease width;
  position: relative;
  top: -2px;
}

.textfield-wrapper:focus-within > .textfield-bottom-border {
  width: 100%;
}